<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691105051129-sp6445b51qsdbm92cdeqcec52uffbg26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691105051129-sp6445b51qsdbm92cdeqcec52uffbg26</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>691105051129-dm69kuqeq365b5l9d309vqia95ht2tqc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCbEj_kCsioMdHBtkrRfWf8U6UVXNA6yhw</string>
	<key>GCM_SENDER_ID</key>
	<string>691105051129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liveFootballStats</string>
	<key>PROJECT_ID</key>
	<string>live-football-stats-ee0f2</string>
	<key>STORAGE_BUCKET</key>
	<string>live-football-stats-ee0f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691105051129:ios:d1ba48817cca9213a40d28</string>
</dict>
</plist>